# Camera configuration - managed by API
EXPOSURE_MIN=34000
EXPOSURE_MAX=100000000
GAIN_MIN=1
GAIN_MAX=12
CONTRAST=1.1
EE_MODE=1
EE_STRENGTH=0.8
BITRATE=15000000
FOCUS=250
FLIP_METHOD=0
SENSOR_MODE=1
SRC_W=3840
SRC_H=2160
KEYINT=17
OUT_W=1920
OUT_H=1080
